.video-image {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.span {
    font-weight: bold;
}

p {
    margin-bottom: 0.2rem;

}

.info {
    margin-bottom: 1rem;
    display: block;
}

.number-ul {
    margin-bottom: 3rem;
}

.number-ul li {
    display: inline-block;
}

.comment-area {
    width: 100%;
}

.comment-area textarea {
    width: 90%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    height: 1rem;
}

#comment-submit {
    border: 1px solid #cccccc;
    padding: 0.2rem;
    margin-left: 5%;
}

.comment-show {
    margin-bottom: 3rem;
    display: block;
}